{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4 ">

        <h2> Editer le bien </h2>

        {{ include('admin_owner/form.html.twig',{form: form,button:'Editer'}) }}

    </div>

    </div>
{% endblock %}



